@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("/assets/fonts/BarlowSemiCondensed-Medium.ttf");
	font-weight: 500;
	font-style: normal;
  }
  
@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("/assets/fonts/BarlowSemiCondensed-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
  }